body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans";
	font-size: 14px;
	font-weight: 400;
	background-color: #fff;
}

/* Header */

.main-header {
	font-family: "Cuprum";
	background-color: #f3f7f8;
}

/* Header Top Section*/

.top-menu {
	font-family: Cuprum;
	font-size: 17px;
	font-weight: 400;
	line-height: 18px;
	color: #ffffff;
	background-color: #293449;
}

a.header-logo {
	font-size: 24px;
	line-height: 1;
	text-transform: uppercase;
	text-align: center;
	background-color: #ee3643;
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
	cursor: pointer;
}

a.header-logo:hover,
a.header-logo:focus {
	background-color: #ca2c37;
}

a.header-logo:active {
	background-color: #ba2732;
}

input[type="search"] {
	font-size: 17px;
	font-weight: 400;
	line-height: 18px;
	color: #ffffff;
	background-color: transparent;
	outline: none;
	border: none;
}

input[type="search"]:hover {
	background-color: #212a3a;
}

input[type="search"]:focus {
	background-color: #fff;
	color: #000;
}

input[type="search"]:focus .order-registration {
	background-color: #63a63e;
}

.user-block {
	margin: 0;
	padding: 0;
}

.user-block li {
	list-style: none;
}

.user-block li a {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;
}

.user-block li a:hover,
.user-block li a:focus {
	background-color: #212a3a;
}

.user-block li a:active {
	background-color: #161d29;
}

.user-block .order-registration {
	background-color: #63a63e;
}

.user-block .order-registration:hover,
.user-block .order-registration:focus {
	background-color: #5fbb2d;
}

.user-block .order-registration:active {
	background-color: #518534;
}

/* // Header Top Section*/

/* Header Middle Section*/

.info-section {

}

.header-slogan {
	font-size: 16px;
	line-height: 24px;
	font-style: italic;
	color: #ee3643;
}

.header-contacts {

}

.header-contacts .header-phone {
	font-size: 21px;
	font-weight: 400;
	line-height: 21px;
	text-decoration: none;
	background-color: #fff;
	color: #ee3643;
}

.header-contacts p {
	color: #32425c;
}

.header-contacts .login {

}

.header-contacts .login a {
	font-size: 21px;
	font-weight: 400;
	line-height: 21px;
	color: #000000;
	background-color: #fff;
	text-decoration: none;
}

.header-contacts .login a:hover,
.header-contacts .login a:focus {
	color: #ee3643;
}

.header-contacts .login a:active {
	color: rgba(0, 0, 0, 0.3);
}

/* // Header Middle Section*/


/* Header Navigation*/

.main-navigation {
	background-color: #32425c;
	box-shadow: inset 0 -5px 0 #293449;
}

.main-navigation .site-navigation {
	margin: 0;
	padding: 0;
	font-size: 0;
}

.site-navigation li {
	list-style: none;
}

.site-navigation li a {
	font-size: 17px;
	font-weight: 400;
	line-height: 17px;
	color: #ffffff;
	text-decoration: none;
}

.site-navigation li a:hover,
.site-navigation li a:focus {
	background-color: #293449;
	outline: 0;
}

.site-navigation li a:active {
	color: rgba(255, 255, 255, 0.5);
}

/* // Header Navigation*/


/* Основное содержание страницы */

.promo-block {

}

.promo-block-list {
	margin: 0;
	padding: 0;
}

.promo-block-item {
	width: 300px;
	height: 123px;
	list-style: none;
	color: #fff;
	font-family: Cuprum;
}

.promo-block-item:nth-child(1) {
	background-color: #ffbf47;
}

.promo-block-item:nth-child(2) {
	background-color: #3bbce3;
}

.promo-block-item:nth-child(3) {
	background-color: #dc91d8;
}

.promo-block-item:nth-child(4) {
	background-color: #8ed78f;
}

.promo-block-item:nth-child(5) {
	background-color: #ffc047;
}

.promo-block-item h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
}

.promo-block-item a {
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

.promo-block-item a:hover,
.promo-block-item a:focus {
	background-color: rgba(0, 0, 0, 0.2);
}

.promo-block-item a:active {
	background-color: rgba(0, 0, 0, 0.3);
}



/* Основное содержание страницы */