body {
	font-family: Cuprum;
	font-size: 16px;
	line-height: 1;
	font-weight: 400;
	color: #000000;
}

/* ===================== Main Header ======================= */
.container {
	width: 940px;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
 	margin: -1px;
	font-size: 0;
}

.button {
	display: block;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #ee3643;
	border-radius: 3px;
	box-sizing: border-box;
}

/* Шапка сайта */
.main-header {
	padding-bottom: 60px;
	background-color: #f2f6f8;
}

.top-section {
	min-height: 42px;
	background-color: #293449;
}

.top-section .container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 2;
}

.main-header .main-logo {
	position: relative;
	display: block;
	width: 220px;
	padding-top: 10px;
	padding-bottom: 11px;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #ee3643;
}

.main-header .main-logo::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -5px;
	height: 5px;
	background-color: #b52933;
}

/*Поле поиска*/
.search-field {
	position: relative;
	width: 270px;
}

.icon-search {
	position: absolute;
	top: 12px;
	left: 17px;
}

input[type="search"] {
	width: 270px;
	height: 42px;
	padding: 15px 0 17px 50px;
	font-size: 17px;
	line-height: 18px;
	color: #fff;
	background-color: transparent;
	border: none;
	box-sizing: border-box;
}

input[type="search"]:hover {
	outline: none;
	background-color: #212a3a;
}

input[type="search"]:focus {
	background-color: #fff;
}

.user-block {
	width: 450px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
}

.user-block li {
}

.user-block a {
	display: block;
	padding-top: 14px;
	padding-bottom: 13px;
	color: #fff;
	text-decoration: none;
	font-size: 17px;
	font-weight: 400;
	line-height: 18px;
}

.user-block li a:hover,
.user-block li a:active {
	background-color: #161d29;
	opacity: 
}

/*Закладки*/

.bookmarks {
	position: relative;
	padding-left: 44px;
	padding-right: 26px;
}

.icon-bookmarks {
	position: absolute;
	top: 14px;
	left: 17px;
}

/*Корзина*/

.cart {
	position: relative;
	padding-left: 50px;
	padding-right: 28px;
}

.icon-cart {
	position: absolute;
	top: 14px;
	left: 18px;
}

/*Оформить заказ*/

.order {
	padding-left: 20px;
	padding-right: 22px;
	background-color: #63a63e;
}

.user-block li a.order:hover,
.user-block li a.order:active {
	background-color: #5fbb2d;
}

.user-block li a.order:active {
	background-color: #518534;
	opacity: 0.51;
}

/*Информация о компании*/

.info-section {
	padding-top: 46px;
	padding-bottom: 44px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.company-slogan {
	width: 196px;
	margin: 0;
	margin-top: 8px;
	padding: 0;
	line-height: 23px;
	font-style: italic;
	color: #ee3643;
}

/*Контакты*/

.info-section .contacts {
	min-width: 270px;
	min-height: 68px;
}

.info-section .contacts .company-phone {
	position: relative;
	display: block;
	margin-bottom: 10px;
	padding: 11px 52px 11px 74px;
	font-size: 21px;
	font-weight: 400;
	line-height: 21px;
	color: #ee3643;
	text-decoration: none;
	border: 3px solid #ffffff;
}

.icon-phone {
	position: absolute;
	top: 11px;
	left: 15px;
}

.info-section .company-adress {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	color: #32425c;
}

.info-section .login {
	display: block;
	width: 280px;
}

/*Вход и регистрация*/

.login {
	min-width: 285px;
	font-size: 0;
}

.login a {
	display: inline-block;
	height: 45px;
	padding-top: 12px;
	font-size: 21px;
	font-weight: 400;
	line-height: 21px;
	background-color: #fff;
	text-decoration: none;
	color: #000000;
	box-sizing: border-box;
}

.login a.account-enter {
	position: relative;
	padding-left: 48px;
	padding-right: 27px;
	margin-right: 10px;
}

.icon-login {
	position: absolute;
	top: 14px;
	left: 14px;
}

.login a.registration {
	padding-right: 25px;
	padding-left: 25px;
}

/*Главное меню*/

.main-navigation {
	min-height: 55px;
}

.main-menu {
	min-height: 55px;
	margin: 0;
	padding: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	font-size: 17px;
	font-weight: 400;
	line-height: 17px;
	background-color: #32425c;
	box-shadow: inset 0 -5px 0 #293449;
}

.main-menu-item {
	list-style: none;
}

.main-menu-item a {
	padding: 22px 30px 21px 30px;
	color: #fff;
	text-decoration: none;
}

/*Промо-информация*/

.promo-block {
	padding-top: 59px;
	padding-bottom: 53px;
}

.promo-section {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
}

.promo-item {
	position: relative;
	width: 300px;
	height: 123px;
	padding: 26px 20px 22px 25px;
	color: #fff;
	box-sizing: border-box;
}

.promo-item .flag {
	position: absolute;
	top: 0;
	right: 0;
	content: "";
	display: block;
	width: 60px;
	height: 59px;
	font-size: 0;
}

.promo-item .flag-new {
	background: url("../img/new-flag.png") no-repeat top center;
}

.promo-section .promo-item:nth-child(1) {
	background: #ffbf47 url("../img/icon-1.svg") no-repeat 213px 31px;
}

.promo-section .promo-item:nth-child(2) {
	background: #3bbce3 url("../img/icon-2.svg") no-repeat 197px 33px;
}

.promo-section .promo-item:nth-child(3) {
	background: #dc91d8 url("../img/icon-3.svg") no-repeat 191px 31px;
}

.promo-slider-items .promo-item:nth-child(2) {
	background: #8ed78f url("../img/icon-4.svg") no-repeat 196px 26px;
	margin-bottom: 20px;
}

.promo-slider-items .promo-item:nth-child(3) {
	background: #ffc047 url("../img/icon-5.svg") no-repeat 191px 32px;
}

.promo-block h3 {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
	font-size: 24px;
	font-weight: 700;
	line-height: 1;
}

.promo-block .promo-button {
	display: block;
	width: 135px;
	height: 38px;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	box-sizing: border-box;
}

.promo-slider-items {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
}

/*Слайдер*/

.promo-slider {
	width: 620px;
	height: 266px;
	color: white
}

.slider-inner {
	margin: 0;
	padding: 0;
	position: relative;
}

.slide {
	display: none;
	list-style: none;
	width: 620px;
	height: 266px;
	padding-top: 26px;
	padding-left: 26px;
	padding-bottom: 22px;
	box-sizing: border-box;
}

.slide:nth-child(1) {
	background: url("../img/slider-image-01.jpg") no-repeat top center;
}

.slide:nth-child(2) {
	background: url("../img/slider-image-02.jpg") no-repeat top center;
}

#slide-1:checked ~ .slider-inner .slide:nth-child(1) {
	display: block;
}

.slider-heading-group {
	width: 230px;
	height: 180px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.slider-heading-group h3 {
	margin: 0;
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
}

.slider-heading-group p {
	margin: 0;
	font-family: "PT Sans";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}

.slider-controls {
	position: absolute;
	left: 50%;
	bottom: 36px;
}


.promo-slider .button {
	width: 195px;
	height: 38px;
	padding-top: 11px;
	margin-top: auto;
}

